<html>

<head>
	<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" charset="utf-8" media="screen">
</head>

<div id="good">
	<ul>
	<% @good_tweets.each do |tweet| %>
		<li>
			<img src='<%= tweet.profile_image_url %>' />
			<span>@<%= tweet.from_user %></span>
			<span><%= tweet.text %></span>
		</li>
	<% end %>
	</ul>
</div>

<div id="notsogood">
	<ul>
	<% @bad_tweets.each do |tweet| %>
		<li>
			<img src='<%= tweet.profile_image_url %>' />
			<span>@<%= tweet.from_user %></span>
			<span><%= tweet.text %></span>
		</li>
	<% end %>	
	</ul>
</div>

<div id="suggestion">
	<ul>
	<% @suggestion_tweets.each do |tweet| %>
		<li>
			<img src='<%= tweet.profile_image_url %>' />
			<span>@<%= tweet.from_user %></span>
			<span><%= tweet.text %></span>
		</li>
	<% end %>
	</ul>
</div>

</html>